.panel1{
    max-width: 392px;
    height:400px;
}

.search .flexbox .ion-ios-search-strong{
    font-size: 30px !important;
}

.search .flexbox .react-autosuggest__container{
    right: -15px;
}

/*.modal-dialog .modal-footer > button{*/
    /*position: relative;*/
    /*top: 63px;*/
    /*left: -43px;*/
/*}*/

.flexbox .panel1 .panel-body{
    padding: 11px 0px 0px 20px !important;
}

