/* Base Application Styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
}

.nav-link {
  text-decoration: none;
}

.page-content {
  padding: 20px 40px;
}

.page-title {
  max-width: 1200px;
  margin: 20px auto;
}
